---
---

@import "headBackground";

#jumbotron {
  background: url($headBackground) no-repeat center center scroll;
  background-size: 100% 100%;
  @media (min-width: 800px) {
    height: 110vh;
  }
  @media (max-width: 800px) {
    height: 100%;
  }
  div#blurBox {
    background-color: rgba(0, 0, 0, 0.3);
  }
}
.mainTitle{
  font-family: 华文行楷;
  font-size: 95px;
  line-height: 60px;
  padding-left: 2px;
}
.two{
  writing-mode: vertical-lr;
  padding-left: 30%;
  padding-top: 0%;
  line-height: 65px;
  list-style: none;
  font-family: 楷体;
  font-size: 30px;
  margin: 0;
  height: 20%;
}
