<div class="d-flex flex-column font-weight-bold jumbotron justify-content-center animated fadeIn p-0" id="jumbotron">
  <div id="blurBox" class="p-5 text-lg-left">
<!--    <p class="animated display-2 delay-2s fadeInDown text-white">烟火阁</p>-->
    <ul class="mainTitle">
        <span-smokeMain>烟</span-smokeMain><span-smokeMain>火</span-smokeMain><span-smokeMain>阁</span-smokeMain>
    </ul>
  </div>
    <ul class="two text-center" >
        <span-smoke>人間煙火氣</span-smoke>
        <br>
        <span-smoke>最撫凡人心</span-smoke>
        <br>
        <span-smoke>縱有不平路</span-smoke>
        <br>
        <span-smoke>天天有歸人</span-smoke>
    </ul>
</div>