<div class="d-flex flex-column font-weight-bold jumbotron justify-content-center animated fadeIn p-0" id="jumbotron">
  <div id="blurBox" class="p-5 text-lg-left">
    <p class="animated display-2 delay-2s fadeInDown text-white">烟火阁</p>
<!--    <p class="animated delay-2s fadeInDown font-weight-normal pt-3 text-white m-0">-->
<!--      人间烟火气-->
<!--      <br>-->
<!--      最抚凡人心-->
<!--    </p>-->

<!--    <p class="lead m-0">-->
<!--      <a class="btn-sm btn-light animated delay-2s fadeInUp" href="about.html#archivelist" role="button">What's-->
<!--        New?</a>-->
<!--    </p>-->
    <ul class="two text-center" >
      <span-smoke>人</span-smoke><span-smoke>間</span-smoke><span-smoke>煙</span-smoke><span-smoke>火</span-smoke><span-smoke>氣</span-smoke>
      <br>
      <span-smoke>最</span-smoke><span-smoke>撫</span-smoke><span-smoke>凡</span-smoke><span-smoke>人</span-smoke><span-smoke>心</span-smoke>
      <br>
      <span-smoke>縱</span-smoke><span-smoke>有</span-smoke><span-smoke>不</span-smoke><span-smoke>平</span-smoke><span-smoke>路</span-smoke>
      <br>
      <span-smoke>天</span-smoke><span-smoke>天</span-smoke><span-smoke>有</span-smoke><span-smoke>歸</span-smoke><span-smoke>人</span-smoke>
    </ul>
  </div>
</div>